body{
  margin:0;
  padding:0;
  text-decoration: none;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
.top img{
  float:left;
  margin:30px;
}

.logo{
  padding:0;
  margin:0;
  float:left;
  padding-left:70px;
}

.bottom li:hover{
  color:#afaaaa;
}

.bottom a{
  color:#fff;
  font-size:14px;
}
.headnav a{
  color:#292b2b;
  font-size: 12px;
  padding-right: 20px;
  padding-bottom:0;
  margin-bottom: 0;
}

a{
  text-decoration: none;

}
.top .headnav{
  padding-bottom:30px;
}
.top li{
  float:right;
  padding-left:10px;
  margin-left:20px;
  display:inline;
  padding-top:0;
}

.navtest{
  background-color:#292b2d;
  height: 45px;
  padding:0;
  margin-top:0px;
  text-align: center;
  color: #fff
}

.bottom li{
  font-size:17px;
  margin-top: 15px;
  margin-left:20px;
  padding-left:50;
  display:inline-block;
  color:#fff;
}

input{
  width:270px;
  height:25px;
  border-radius:2%;
  margin-left:20px;
  padding-bottom:0;
  float:left;
}

button{
display:none;
width:20px;
height:10px;
}

.showcase{
  text-align: center;
  padding-top:30px;
  border-bottom: #b8bdc4 3px solid;
  margin-left:125px;
  margin-right:125px;
}

.topsell{
  font-size:25px;
  text-align: center;
  padding-top:20px;
}

.boxes{
  width:20%;
  float:left;
  padding-left:10px;
  margin: 0 auto;
   margin-left:50px;
   margin-top:30px;
   text-align: center;
}

h1{
  font-size:15px;
}
.prices{
  display:inline-block;
  padding-top:10px;
  padding-left:180px;
}

.boxes:hover{
  color:#ba0d0d;
}

@media(max-width:736px){
  .boxes{
    float: right;
    padding-top: 300px;
  }
}
